* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #111;
}

.max-width {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10%;
    background-color: #FFF;
    box-shadow: 0 0 5px #FFF;
    text-align: center;
}

/* textos*/
h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 95px;
    margin-top: 20px;
}

.redColor {
    color: red;
}

/* botões */

button {
    width: 100px;
    padding: 10px;
    border: none;
    font-family: 'Segoe UI';
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #a1c0d1;
}

.selected-button {
    background-color: #a1c0d1!important;
}

.bg-blue {
    background-color: #69b2da;
}

.bg-green {
    background-color: #b2d1a1;
}

.bg-yellow {
    background-color: #d1cba1;
}

.bg-red {
    background-color: #d1a1a1;
}